# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database and Secret files
*.db
*.key
src/store/serverDataBase/data/secret.key

# Uploaded files
/docs/
!public/docs/
logs/
pictures/
src/store/serverDataBase/docs/
src/store/serverDataBase/logs/
src/store/serverDataBase/pictures/
src/store/serverDataBase/schematics/
src/store/serverDataBase/data/sandbox_uploads/
sandbox_uploads/
*.db-wal
*.db-shm
scripts/dump/
